/*Sub menu*/
ul > li:hover > ul
{
    display: block;
    height: 100%;
}
ul > li > ul
{
    display: none;
}
ul, ol
{
    list-style: none;
}
.sub-menu li a
{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
li ul
{
    display: ;
    position: absolute;
}
ul>li>ul>li
{
    margin: 5px 1px 1px 1px;
    color: #fff;
    background-color: #181A1C;
    transition: border-color 1s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
ul>li>ul>li a{
    border: 1px solid #4F9B3F;/*#4F9B3F*/
    filter: none;
    border: none;
    box-shadow: none;
    color: #fff;/*#181A1C*/
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
ul>li>ul>li a:hover {
    color: #4F9B3F;/*#4F9B3F*/
    text-decoration:none;
}